$font1: "BrandonGrotesque-Light";

$color1: #000;
$color2: #fff;
$color3: #f9f9f9;
$color4: #dbd9d7;
$color5: #333;
$color6: #1a1a1a;

$maxWidth: 1920px;
$maxWidthContainer: 1230px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$trn1: all 0.3s ease 0s;
$trn2: all 0.1s ease 0s;
$trn3: all 0.9s ease 0s;
$trn4: all 1.5s ease 0s;
